@use "sass:math";

$utilities: (
  "align-items": (
    "prefix": "align-i",
    "values": (
      "c": center,
      "fe": flex-end,
      "fs": flex-start,
    ),
  ),
  "border": (
    "prefix": "b",
    "values": (
      "none": none,
      "xs": 1px solid gold,
      "sm": 2px solid red,
      "md": 3px solid white,
      "lg": 4px solid white,
      "xl": 5px solid white,
    ),
  ),
  "border-top": (
    "prefix": "bt",
    "values": (
      "none": none,
      "xs": 1px solid $white,
      "sm": 2px solid white,
      "md": 3px solid white,
      "lg": 4px solid white,
      "xl": 5px solid white,
    ),
  ),
  "border-bottom": (
    "prefix": "bb",
    "values": (
      "l-green": 2px solid darkgreen,
      "green": 4px solid darkgreen,
      "l-grey": 1px solid #ccc,
      "none": none,
      "xs": 1px solid #ccc,
      "sm": 2px solid white,
      "md": 3px solid white,
      "lg": 4px solid white,
      "xl": 5px solid white,
    ),
  ),
  "border-left": (
    "prefix": "bl",
    "values": (
      "none": none,
      "xs": 1px solid white,
      "sm": 2px solid white,
      "md": 3px solid white,
      "lg": 4px solid white,
      "xl": 5px solid white,
    ),
  ),
  "border-right": (
    "prefix": "br",
    "values": (
      "none": none,
      "xs": 1px solid white,
      "sm": 2px solid white,
      "md": 3px solid white,
      "lg": 4px solid white,
      "xl": 5px solid white,
    ),
  ),
  "border-radius": (
    "prefix": "border-r",
    "values": (
      "default": $base-border-radius,
      "none": 0,
      "xs": math.div($base-border-radius, 4),
      "sm": math.div($base-border-radius, 2),
      "lg": $base-border-radius * 2,
      "full": 50%,
    ),
  ),
  "box-sizing": (
    "prefix": "box-s",
    "values": (
      "bb": border-box,
      "cb": content-box,
    ),
  ),
  "cursor": (
    "prefix": "cursor",
    "values": (
      "p": pointer,
      "g": grab,
      "a": alias,
    ),
  ),

  "display": (
    "prefix": "display",
    "values": (
      "n": none,
      "b": block,
      "f": flex,
      "i": inline,
      "i-b": inline-block,
      "i-f": inline-flex,
    ),
  ),
  "ease": (
    "prefix": "ease",
    "values": (
      "e": ease,
      "l": linear,
      "e-i": ease-in,
      "e-io": ease-in-out,
    ),
  ),
  "font-family": (
    "prefix": "font-f",
    "values": (
      "primary": $primary,
      "secondary": $secondary,
    ),
  ),
  "font-size": (
    "prefix": "font-s",
    "values": (
      "xxs": $xxs-font-size,
      "xs": $xs-font-size,
      "sm": $small-font-size,
      "lg": $large-font-size,
      "md": $medium-font-size,
      "xl": $xl-font-size,
    ),
  ),

  "font-weight": (
    "prefix": "font-w",
    "values": (
      "b": bold,
      "n": normal,
      "l": light,
      "300": 300,
      "400": 400,
      "500": 500,
      "600": 600,
      "700": 700,
      "800": 800,
    ),
  ),

  "flex-wrap": (
    "prefix": "flex-w",
    "values": (
      "w": wrap,
      "nw": nowrap,
      "wr": wrap-reverse,
    ),
  ),
  "flex-direction": (
    "prefix": "flex-d",
    "values": (
      "r": row,
      "c": column,
      "cr": column-reverse,
      "rr": row-reverse,
    ),
  ),
  "float": (
    "prefix": "float",
    "value": (
      "l": left,
      "r": right,
    ),
  ),
  "filter": (
    "prefix": "filter",
    "values": (
      "br-small": brightness(0.3),
      "br-medium": brightness(0.6),
      "br-large": brightness(0.8),
      "br-full": brightness(1),
    ),
  ),
  "justify-content": (
    "prefix": "justify-c",
    "values": (
      "c": center,
      "sb": space-between,
      "se": space-evenly,
      "sa": space-around,
      "fe": flex-end,
      "fs": flex-start,
    ),
  ),
  "max-width": (
    "prefix": "mw",
    "values": (
      "3": 30%,
      "4": 40%,
      "5": 50%,
      "6": 60%,
      "7": 70%,
      "8": 80%,
      "100": 100px,
      "150": 150px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "400": 400px,
      "450": 450px,
      "500": 500px,
      "600": 600px,
      "700": 700px,
      "800": 800px,
      "900": 900px,
      "1000": 1000px,
      "1100": 1100px,
      "1200": 1200px,
      "1300": 1300px,
    ),
  ),
  "margin": (
    "prefix": "m",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
    ),
  ),
  "margin-left": (
    "prefix": "ml",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
    ),
  ),
  "margin-right": (
    "prefix": "mr",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
    ),
  ),
  "margin-top": (
    "prefix": "mt",
    "values": (
      "n1": $base-margin - 10,
      "n2": $base-margin - 20,
      "n3": $base-margin - 30,
      "n4": $base-margin - 40,
      "n5": $base-margin - 50,
      "n6": $base-margin - 60,
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 15,
      "8": $base-margin * 50,
    ),
  ),
  "margin-bottom": (
    "prefix": "mb",
    "values": (
      "0": 0,
      "1": $base-margin,
      "2": $base-margin * 2,
      "3": $base-margin * 4,
      "4": $base-margin * 6,
      "5": $base-margin * 8,
      "6": $base-margin * 10,
      "7": $base-margin * 15,
      "8": $base-margin * 50,
    ),
  ),
  "letter-spacing": (
    "prefix": "letter-s",
    "values": (
      "xs": 1px,
      "sm": 2px,
      "md": 3px,
      "lg": 4px,
      "xl": 5px,
    ),
  ),
  "left": (
    "prefix": "left",
    "values": (
      "4": 45%,
      "0": 0,
      "10": 10px,
      "20": 20px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "65": 65px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "120": 120px,
      "130": 130px,
      "140": 140px,
      "150": 150px,
      "200": 200px,
      "230": 230px,
      "250": 250px,
      "300": 300px,
      "310": 310px,
      "320": 320px,
      "330": 330px,
      "340": 340px,
      "350": 350px,
      "400": 400px,
      "600": 600px,
    ),
  ),
  "right": (
    "prefix": "right",
    "values": (
      "0": 0,
      "10": 10px,
      "20": 20px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "120": 120px,
      "130": 130px,
      "140": 140px,
      "150": 150px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "310": 310px,
      "320": 320px,
      "330": 330px,
      "340": 340px,
      "350": 350px,
      "400": 400px,
    ),
  ),
  "top": (
    "prefix": "top",
    "values": (
      "n30": -30px,
      "0": 0,
      "10": 10px,
      "15": 15px,
      "20": 20px,
      "25": 25px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "120": 120px,
      "130": 130px,
      "140": 140px,
      "150": 150px,
      "160": 160px,
      "167": 167px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "310": 310px,
      "320": 320px,
      "330": 330px,
      "340": 340px,
      "350": 350px,
      "400": 400px,
    ),
  ),
  "bottom": (
    "prefix": "bottom",
    "values": (
      "0": 0,
      "10": 10px,
      "20": 20px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "120": 120px,
      "130": 130px,
      "140": 140px,
      "150": 150px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "310": 310px,
      "320": 320px,
      "330": 330px,
      "340": 340px,
      "350": 350px,
      "400": 400px,
    ),
  ),
  "list-style-type": (
    "prefix": "lst",
    "values": (
      "none": none,
      "disc": disc,
      "circle": circle,
      "square": square,
      "roman": lower-roman,
      "latin": lower-latin,
    ),
  ),
  "line-height": (
    "prefix": "line-h",
    "values": (
      "10": 10px,
      "15": 15px,
      "20": 20px,
      "25": 25px,
      "30": 30px,
      "35": 35px,
      "40": 40px,
      "45": 45px,
      "50": 50px,
      "55": 55px,
      "60": 60px,
      "65": 65px,
    ),
  ),
  "opacity": (
    "prefix": "o",
    "values": (
      "10": 0,
      "20": 0.2,
      "30": 0.3,
      "40": 0.4,
      "50": 0.5,
      "60": 0.6,
      "70": 0.7,
      "80": 0.8,
      "90": 0.9,
      "100": 1,
    ),
  ),
  "overflow": (
    "prefix": "overflow",
    "values": (
      "h": hidden,
      "s": scroll,
      "auto": auto,
    ),
  ),
  "object-fit": (
    "prefix": "object-f",
    "values": (
      "cover": cover,
      "auto": auto,
      "containt": contain,
    ),
  ),
  "position": (
    "prefix": "position",
    "values": (
      "a": absolute,
      "r": relative,
      "s": sticky,
      "f": fixed,
    ),
  ),
  "vertical-align": (
    "prefix": "vertical-a",
    "values": (
      "top": top,
      "middle": middle,
      "bottom": bottom,
    ),
  ),
  "padding": (
    "prefix": "p",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-left": (
    "prefix": "pl",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-right": (
    "prefix": "pr",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-top": (
    "prefix": "pt",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "padding-bottom": (
    "prefix": "pb",
    "values": (
      "0": 0,
      "1": $base-padding,
      "2": $base-padding * 2,
      "3": $base-padding * 4,
      "4": $base-padding * 6,
      "5": $base-padding * 8,
      "6": $base-padding * 10,
      "7": $base-padding * 12,
    ),
  ),
  "pointer-events": (
    "prefix": "pointer-e",
    "values": (
      "none": none,
    ),
  ),
  "transition": (
    "prefix": "time",
    "values": (
      "xs": 0.3s,
      "sm": 0.5s,
      "md": 0.8s,
      "lg": 1s,
      "xl": 1.5s,
    ),
  ),
  "text-align": (
    "prefix": "text-a",
    "values": (
      "c": center,
      "l": left,
      "j": justify,
      "r": right,
      "fs": flex-start,
      "fe": flex-end,
    ),
  ),
  "text-transform": (
    "prefix": "text-t",
    "values": (
      "cap": capitalize,
      "up": uppercase,
      "lo": lowercase,
    ),
  ),
  "text-decoration": (
    "prefix": "text-d",
    "values": (
      "none": none,
      "underline": underline,
    ),
  ),
  "transform": (
    "prefix": "transform",
    "values": (
      "scale-sm": scale(0.3),
      "scale-md": scale(0.5),
      "scale-lg": scale(0.8),
      "scale-full": scale(1),
      "rotate-full": rotate(180deg),
    ),
  ),
  "width": (
    "prefix": "w",
    "values": (
      "3": 30%,
      "4": 40%,
      "5": 50%,
      "7": 70%,
      "8": 80%,
      "full": 100%,
      "auto": auto,
      "10": 10px,
      "20": 20px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "130": 130px,
      "150": 150px,
      "170": 170px,
      "190": 190px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "400": 400px,
      "500": 500px,
      "600": 600px,
      "700": 700px,
      "800": 800px,
      "900": 900px,
      "1000": 1000px,
    ),
  ),
  "word-spacing": (
    "prefix": "word-s",
    "values": (
      "xs": 1px,
      "sm": 2px,
      "md": 3px,
      "lg": 4px,
      "xl": 5px,
    ),
  ),
  "height": (
    "prefix": "h",
    "values": (
      "auto": auto,
      "10": 10px,
      "20": 20px,
      "30": 30px,
      "40": 40px,
      "50": 50px,
      "60": 60px,
      "70": 70px,
      "80": 80px,
      "90": 90px,
      "100": 100px,
      "110": 110px,
      "120": 120px,
      "130": 130px,
      "150": 150px,
      "170": 170px,
      "200": 200px,
      "250": 250px,
      "300": 300px,
      "330": 330px,
      "400": 400px,
      "500": 500px,
      "550": 550px,
      "600": 600px,
      "700": 700px,
      "740": 740px,
      "800": 800px,
      "750": 750px,
      "900": 900px,
      "1000": 1000px,
    ),
  ),
  "z-index": (
    "prefix": "index",
    "values": (
      "n5": -5,
      "n4": -4,
      "n3": -3,
      "n2": -2,
      "n1": -1,
      "0": 0,
      "1": 1,
      "2": 2,
      "3": 3,
      "4": 4,
      "5": 5,
      "10": 10,
      "15": 15,
      "20": 20,
    ),
  ),
);

@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $key, $value in $values {
    @if ($key == "default") {
      .#{$prefix} {
        #{$property}: $value;
      }
    } @else {
      .#{$prefix}-#{$key} {
        #{$property}: $value;
      }
    }
  }
}
